<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="/static/images/JW.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <title>
    Josh Winnes | Home
  </title>

  <meta name="description" content="Add small description of yourself.">
  <meta name="keywords" content="Josh Winnes, data, science, data science, wheaton college, machine learning, AI, IBM" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <header class="top-bar">
    <div class="logo">
      <a href="/">JW</a>
    </div>
    <nav class="nav">
      <ul class="nav__items">
        <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="/projects" class="nav__link">Projects</a></li>
        <li class="nav__item"><a href="/fun_stuff" class="nav__link">Fun Stuff</a></li>
        <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  <img src="/static/images/sky_pano.JPG" class="home_image">

  <div class="welcome-outer-box">
    <div class="welcome-inner-box">
        <h1>Josh Winnes</h1>
    </div>
  </div>


  <div class="content-section">
    <h1>About Me</h1>
    <div class="content-content">
      <img src="/static/images/Josh_Winnes_10.jpg" class="content-img">
      <div class="content-text-and-button">
        <p class="content-text">
          I’m a student at Wheaton College studying math 
          (with a stats focus), originally from New Hampshire.
          I’m into ultimate frisbee, skiing, and finding 
          creative ways to connect with people — whether 
          that’s through intramurals, campus ministry, or 
          just hanging out. I like learning how things work 
          (especially numbers and people), and I’m always up 
          for a good conversation or a spontaneous adventure.
        </p>
        <div class="content-button">
          <a href="about.html">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section">
    <h1>Recent Projects</h1>
    <div class="content-content">
      <div class="content-text-and-button">
        <p class="content-text">
          I'm always working on something, here are some of my recent projects.
        </p>
        <div class="content-button">
          <a href="projects.html">See More</a>
        </div>
      </div>
      <img src="/static/images/Josh_Winnes_10.jpg" class="content-img">
    </div>
  </div>
  
  <script src="/static/script.js"></script>
</body>

</html>