<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="/static/images/JW.png" />

  <!-- Put your site title here -->
  <title>
    Josh Winnes | Data Scientist | Boston, MA
  </title>

  <meta name="description" content="Add small description of yourslef.">
  <!-- Add some coding keywords below, Ex: (React, CSS etc) -->
  <meta name="keywords" content="Josh Winnes, data, science, data science, wheaton college, machine learning, AI, IBM" />
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>

  <!-- ***** Header ***** -->

  <header class="header" role="banner" id="top">
    <div class="row">
      <nav class="nav" role="navigation">
        <ul class="nav__items">
          <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
          <li class="nav__item"><a href="#clients" class="nav__link">Clients</a></li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__text-box row">
      <div class="header__text">
        <h1 class="heading-primary">
          <!-- Replace the following name with your name -->
          <span>Josh Winnes</span>
        </h1>
        <!-- Put a small paragraph about yourself -->
        <p>Data Scientist | Boston, MA</p>
        <a href="#contact" class="btn btn--pink">Get in touch</a>
      </div>
    </div>
  </header>

  <main role="main">

    <!-- ***** About ***** -->

    <section class="about" id="about">
      <div class="row">
        <h2>About Me</h2>
        <div class="about__content">
          <div class="about__text">
            <!-- Replace the below paragraph with info about yourself -->
            <p>
              Hi! I'm Josh Winnes. I'm from the seacoast of New Hampshire 
              but am currently a senior at Wheaton College in Illinois studying Mathematics 
              with a concentration in Statistics.  In my free time, I love 
              to do pretty much anything outside. I especially love skiing, spending 
              time at Lake Winnepesaukee in the summer, and exploring NH's White Mountains.
            </p>
            <!-- Provide a link to your resume -->
            <a href="https://github.com/joshwinnes11/Portfolio/blob/main/Resume%20-%20Josh%20Winnes%20(10%3A21%3A24).pdf" class="btn">My Resume</a>
          </div>

          <div class="about__photo-container">
            <!-- Add a nice photo of yourself -->
            <img class="about__photo" src="/static/images/Josh Winnes_10.jpg" alt="" />
          </div>
        </div>
      </div>


    <!-- ***** Work ***** -->

    <section class="work" id="work">
      <div class="row">
        <h2>My Work</h2>
        <div class="work__boxes">

          <!-- Each div with the work__box class is a project. -->

          <div class="work__box">
            <div class="work__text">
              <h3>Deepfake (AI) Voice Detection</h3>
              <p>
                Binary audio classification using various neural networks architectures to detect whether voice recordings 
                are real human voices or AI generated with 99% accuracy.  
              </p>
              <ul class="work__list">
                <li>CNN Neural Network</li>
                <li>RNN Neural Network</li>
                <li>Random Forest</li>
                <li>Binary Classification</li>
                <li>Audio Feature Extraction</li>
              </ul>

              <div class="work__links">
                <a href="https://github.com/joshwinnes11/Final-Project" target="_blank" class="link__text">
                  View Repository <span>&rarr;</span>
                </a>
                <a href="https://github.com/joshwinnes11" title="View My GitHub" target="_blank">
                  <img src="/static/images/github.svg" class="work__code" alt="GitHub">
                </a>
              </div>
            </div>
            
            <div class="work__image-box">
              <a href="https://github.com/joshwinnes11/Final-Project" title="View Project Repository" target="_blank">
                <img src="/static/images/RNN Classifier Results (Final Project).png" class="work__image" alt="RNN Results" />
              </a>
            </div>
          </div>
          
          <div class="work__box">
            <div class="work__text">
              <h3>Webpage Text Classification</h3>
              <p>
                Textual categorical classification on websites using labeled UN SDG data. Neural Network classifier achieved 65% accuracy.
              </p>
              <ul class="work__list">
                <li>Natural Languange Processing</li>
                <li>Categorical Classification</li>
                <li>Neural Networks</li>
                <li>Tensorflow and Keras</li>
                <li>Tokenization</li>
              </ul>

              <div class="work__links">
                <a href="https://github.com/joshwinnes11/Project-4" target="_blank" class="link__text">
                  View Repository <span>&rarr;</span>
                </a>
                <a href="https://github.com/joshwinnes11" title="View My GitHub" target="_blank">
                  <img src="/static/images/github.svg" class="work__code" alt="GitHub">
                </a>
              </div>
            </div>
            
            <div class="work__image-box">
              <a href="https://github.com/joshwinnes11/Project-4" target="_blank" class="link_text">
                <img src="/static/images/un_sdgs.jpeg" class="work__image" alt="Website Classification" />
              </a>  
            </div>
          </div>
          
          <div class="work__box">
            <div class="work__text">
              <h3>Spring Break Ski Trip Visualization and Arterial Oxygen Saturation Analysis</h3>
              <p>
                Visualization of GPX and KML skiing data using Folium maps. This data was collected
                using the Slopes app. We also analyized how Arterial Oxygen Saturation (AOS) changes with 
                elevation and speed. 
              </p>
              <ul class="work__list">
                <li>Geospatial Visualization</li>
                <li>Staypoint Analysis</li>
                <li>Geopandas</li>
                <li>Folium</li>
                <li>Sci-Kit Mobility</li>
              </ul>

              <div class="work__links">
                <a href="https://github.com/joshwinnes11/Project2" target="_blank" class="link__text">
                  View Repository <span>&rarr;</span>
                </a>
                <a href="https://github.com/joshwinnes11" title="View My GitHub" target="_blank">
                  <img src="/static/images/github.svg" class="work__code" alt="GitHub">
                </a>
              </div>
            </div>
            <div class="work__image-box">
              <a href="https://github.com/joshwinnes11/Project2" target="_blank" class="link_text">
                <img src="/static/images/Ski_Project1.png" class="work__image" alt="Ski Project" />
              </a>
            </div>
          </div>

          <div class="work__box">
            <div class="work__text">
              <h3>Instacart Item Association Analysis</h3>
              <p>
                Association analysis for online shopping using free Instacart data on Kaggle.
              </p>
              <ul class="work__list">
                <li>Association Analysis</li>
                <li>HMine Algorithm</li>
                <li>Python</li>
              </ul>

              <div class="work__links">
                <a href="https://github.com/jonathancontreras02/Project1.1" target="_blank" class="link__text">
                  View Repository <span>&rarr;</span>
                </a>
                <a href="https://github.com/joshwinnes11" title="View My GitHub" target="_blank">
                  <img src="/static/images/github.svg" class="work__code" alt="GitHub">
                </a>
              </div>
            </div>
            
            <div class="work__image-box">
              <a href="https://github.com/jonathancontreras02/Project1.1" target="_blank" class="link_text">
                <img src="/static/images/instacart_project.png" class="work__image" alt="Project 1" />
              </a>
            </div>
          </div>

          <div class="work__box">
            <div class="work__text">
              <h3>Housing Prices Prediction</h3>
              <p>
                Predicting housing prices given various property attributes. 
              </p>
              <ul class="work__list">
                <li>Machine Learning</li>
                <li>Regression Analysis</li>
                <li>Prediction</li>
              </ul>

              <div class="work__links">
                <a href="https://github.com/joshwinnes11/HousePrices-AdvancedRegressionTechniques" class="link__text">
                  View Repository <span>&rarr;</span>
                </a>
                <a href="https://github.com/joshwinnes11" title = 'View My GitHub' target = '_blank'>
                  <img src="/static/images/github.svg" class="work__code" alt="GitHub">
                </a>
              </div>
            </div>
            <div class="work__image-box">
              <a href="https://github.com/joshwinnes11/HousePrices-AdvancedRegressionTechniques" target="_blank" class="link_text">
                <img src="/static/images/housing_prices_description.png" class="work__image" alt="Project 1" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

      <!-- ***** Contact ***** -->

    <section class="contact" id="contact">
      <div class="row">
        <h2>Get in Touch</h2>
        <div class="contact__info">
          <p>
            I'm a highly motivated data scientist who is ready to get to work
            helping you gather data-based insights to boost your productivity!
            Inquire via email. 
          </p>
          <!-- Replace the email with yours -->
          <a href="mailto:joshwinnes@icloud.com" class="btn">joshwinnes@icloud.com</a>
        </div>
      </div>
    </section>

  </main>

  <!-- ***** Footer ***** -->

  <footer role="contentinfo" class="footer">
    <div class="row">
      <!-- Update the links to point to your accounts -->
      <ul class="footer__social-links">
        <li class="footer__social-link-item">
          <a href="https://github.com/joshwinnes11" title="Link to Github Profile">
            <img src="/static/images/github.svg" class="footer__social-image" alt="Github">
          </a>
        </li>
        <li class="footer__social-link-item">
          <a href="https://www.linkedin.com/in/joshwinnes/">
            <img src="/static/images/linkedin.svg" title="Link to Linkedin Profile" class="footer__social-image" alt="Linkedin">
          </a>
        </li>
      </ul>

      <!-- If you give me some credit by keeping the below paragraph, will be huge for me Thanks. -->
      <p>
        &copy; 2020 - Template designed & developed by <a href="https://nisar.dev" class="link">Nisar</a>.
      </p>
      <div class="footer__github-buttons">
        <iframe
          src="https://ghbtns.com/github-btn.html?user=nisarhassan12&repo=portfolio-template&type=watch&count=true"
          frameborder="0" scrolling="0" width="170" height="20" title="Watch Portfolio Template on GitHub">
        </iframe>
      </div>
    </div>
  </footer>

  <a href="#top" class="back-to-top" title="Back to Top">
    <img src="/static/images/arrow-up.svg" alt="Back to Top" class="back-to-top__image"/>
  </a>
  <script src="../static/script.js"></script>
</body>

</html>